## Make and index data in Python

Creating vectors and a pandas DataFrame, some low-key indexing

In [1]:
import numpy as np
import pandas as pd

In [19]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 1000]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 1000]

In [20]:
teddy_vec = np.array(teddy)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [21]:
teddy[1]

2

In [22]:
teddy[1] = 5000

In [23]:
teddy

[1, 5000, 8]

In [25]:
freddy = (1,2,8)
type(freddy)

tuple

In [26]:
freddy[1]

2

In [27]:
freddy[1] = 10

TypeError: 'tuple' object does not support item assignment

In [28]:
waffle = [2, "burrito", [0,1,2]]

In [29]:
waffle

[2, 'burrito', [0, 1, 2]]

In [30]:
waffle[2]

[0, 1, 2]

In [32]:
waffle[2][1]

1

In [41]:
cows = {'name': ["moo", "spots", "happy"], 'location': ["pasture", "prarie", "barn"]}

In [42]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prarie', 'barn']}

In [43]:
cows_df = pd.DataFrame(cows)

In [44]:
cows_df

    name location
0    moo  pasture
1  spots   prarie
2  happy     barn